.row h2{
    font-size: 61px;
    font-weight: 600;
    margin-bottom: 48px;
  }
.row{
    margin-bottom: 56px;
}
.nav-item{
  margin-left: 48px;
  margin-right: 48px;
}
  /*Header*/

  /*Header*/

  /*Photos*/
  .photo-element{
    background-color: #1e1e1e;
    height: 267px;
    border-radius: 8px;
  }
  #photo-vk{
    width: 100%;
    border-radius: 8px;
  }
  #photos{
    margin-top: 54px;
  }
  /*Photos*/

  /*News*/
  #news{
    margin-top: 54px;
  }
.news-element{
    /*background-color: #1e1e1e;*/
    border: 1px solid black;
    height: 280px;
    border-radius: 8px;
  }
  .news-element span{
    margin: 24px 0px 0px 16px;
    font-size: 16px;
  }
  #text{
    margin: 24px 16px 0px 16px;
    width: 318px;
    height: 156px;
    font-size: 16px;
  }
  /*News*/

  /*Footer*/

  /*Footer*/

  #more-vk{
    text-decoration: none;
}

  .more-vk{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 24px;

  }
  .more-vk span{
    border: 1px solid black;
    padding: 12px 16px 12px 16px;
  }
  a{
    text-decoration: none;
  }
  .more-vk span:hover{
    background-color: #1e1e1e;
  }


  .navbar{
    border-radius: 16px;
    border: 1px solid black;
    margin-top: 8px;
    /*position: fixed;*/
    z-index: 9999;
    /*height: 80px;*/

  }
  #contact-us{
    border: 1px solid black;
    border-radius: 8px;
    background: #198754;
    padding: 8px 16px;
    color: white;
  }
  #contact-us:hover{
    background: white;
    color: black;
  }
